{% image src="/_images/bandeau-autoportraits-bleu.svg", alt="", class="footer-portraits" %}
<footer class="page-footer palette-contrast bleed-bg flow" style="gap: 1rem;">
    <address>
        <p>{{ vars.name }}</p>
        <p>{{ vars.address }}</p>
        <p>{{ vars.phone }}</p>
        <p>{{ vars.email | emailLink }}</p>
    </address>
    <div>
        <p>Site web éco-conçu avec passion par les parents d’Oona et Liloo</p>
        <p>
            <a href="https://www.mookai.be/" target="_blank">mookaï asbl</a>
        </p>
    </div>
</footer>