<div class="side-dy-side">
  {% for block in blocks %}
    {% if block.type == "image" %}
<div><img src="{{ block.src }}" alt="{{ block.alt }}" eleventy:widths="250,450,650" /></div>
    {% endif %}
  {% endfor %}
</div>

{% css %}
.side-dy-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    & img, & picture {
        aspect-ratio: 1.68;
    }
}
{% endcss %}
